<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .target{
            background-color: bisque;
        }
    </style>
</head>
<body>
<!--    <ul>-->
<!--        <li th:each="dto : ${list}" th:class="${dto.sno % 5 == 0}?'target'" th:text="${dto}">-->
<!--            &lt;!&ndash;            [[${state.index}]] ========== [[${dto}]]&ndash;&gt;-->
<!--        </li>-->
<!--    </ul>-->
    <ul>
        <li th:each="dto, state : ${list}">
            [[${state.index}]] ========== [[${dto}]]
            [[${state.count}]] ========== [[${dto}]]
        </li>
    </ul>
=====================================================================
<!--        제어문 처리-->
<!--    <ul>
        <li th:each="dto, state : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
    </ul>
========================================================================
    <ul>
        <li th:each="dto, state : ${list}">
            <span th:if="${dto % 5 == 0}" th:text="--------------+dto.sno"></span>
            <span th:unless="${dto % 5 == 0}" th:text="${dto.first}"></span>
        </li>
    </ul>-->

<!--<ul>-->
<!--    <li th:each="dto, state : ${list}" th:text="${dto.sno % 5 == 0}?${dto.sno}: ${dto.first}">-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>